@import "./_variables";

* {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0px;
}

label {
  text-align: left;
}

input {
  border: none;
  height: 34px;
  margin: 0;
  text-align: center;
  width: 100%;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type="number"] {
    -moz-appearance: textfield;
  }

  &:focus {
    outline: none;
    background-color: #f6fef6;
  }
}

button {
  background-color: @color-background-secondary;
  border: 1px solid @color-border;
  font-weight: 500;
  height: 40px;
  width: 40px;
}

select {
  width: 300px;
  height: 32px;
  margin-bottom: @indent__base;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid @color-border;
}

th,
td {
  height: 34px;
  line-height: 34px;
  background-color: @color-background-secondary;
  background-clip: padding-box; // Fix firefox
  padding: 0;
  min-width: 200px;
  position: relative;

  &.main-header {
    background-color: black;
    color: white;
  }
}

td {
  font-weight: 500;

  &.td-corporation {
    padding: 0 @indent__s;
    white-space: nowrap;
  }
}

.wealth-table td {
  background-color: @color-summation-green;
  color: white;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  margin: 0;
  text-align: left;
}

// General classes
.app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: @color-text;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.input-sign {
  position: absolute;
  top: 0px;

  &.right {
    right: 20px;
  }

  &.left {
    left: 20px;
  }
}

.calculator {
  display: inline-block;
  background-color: @color-background;
  padding: @indent__m;
  border: 1px solid @color-border;
  margin: @indent__m;
}

.top-row {
  display: flex;
  margin-bottom: @indent__base;
}

.info-text {
  text-align: left;
}

.corp-name-mobile {
  transform: rotate(90deg);
  display: none;
  border: 1px solid @color-border;
  position: fixed;
  top: 50%;
  z-index: 1;
  height: 40px;
  align-items: center;
  justify-content: center;
  width: 300px;
  left: -112px;
  right: 8px;
}

.bank-summation {
  margin-top: @indent__base;
  text-align: left;
}

// Media query mobile screen sizes
@media only screen and (max-width: @screen__m) {
  h2 {
    margin: @indent__s;
  }

  table {
    width: 100%;
    overflow-y: scroll;
  }

  .app {
    margin: 0 @indent__s;
  }

  .calculator {
    display: block;
    padding: @indent__xs;
    border: 1px solid @color-border;
    margin: 0;
  }

  .top-row {
    display: block;
  }

  .matrix {
    overflow-y: scroll;
  }

  .corp-name-mobile {
    display: flex;
  }

  .bank-summation {
    margin-left: @indent__s;
  }
}
