@import "./_variables";

.game-settings {
  width: 400px;
  padding-bottom: @indent__base;
  background-color: @color-background-secondary;
  border: 1px solid @color-border;
  margin-right: @indent__base;
  max-height: 280px;

  .flex-column {
    padding: 0 @indent__base;
  }
}

.simulate-rounds {
  display: flex;

  input {
    border-top: 4px solid @color-border;
    border-bottom: 4px solid @color-border;
    width: 60px;
    height: 44px;
  }

  .sim-button {
    background-color: @color-border;
    height: 44px;
    width: 60px;
    color: white;
    font-weight: 700;

    &--right {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    &--left {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
  }
}

// Media query mobile screen sizes
@media only screen and (max-width: @screen__m) {
  .game-settings {
    width: auto;
    margin: 0 0 @indent__s 0;
  }
}
